<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dictionary</title>
		<link href='/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<link href='/bootstrap-theme.min.css' rel='stylesheet' type='text/css'>
		<link href='/app.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
			#parse($template)
		</div>
	</body>
</html>
